<?xml version="1.0" ?>
<config>
    <modules>
        <Malesh_Action>
            <version>0.0.3</version>
        </Malesh_Action>
    </modules>
    <adminhtml>
        <menu>
            <mlaction module="mlaction">
                <title>Action</title>
                <sort_order>77</sort_order>
                <action>mlaction_admin/adminhtml_action</action>
            </mlaction>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <mlaction_admin>
                <use>admin</use>
                <args>
                    <module>Malesh_Action</module>
                    <frontName>mlaction_admin</frontName>
                </args>
            </mlaction_admin>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <mlaction>
                    <file>malesh_action.xml</file>
                </mlaction>
            </updates>
        </layout>
        <routers>
            <malesh_action>
                <use>standard</use>
                <args>
                    <module>Malesh_Action</module>
                    <frontName>malesh_action</frontName>
                </args>
            </malesh_action>
        </routers>
    </frontend>
    <global>
        <blocks>
            <mlaction>
                <class>Malesh_Action_Block</class>
            </mlaction>
        </blocks>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_addnew_items>
                        <class>Malesh_Action_Model_Observer</class>
                        <method>addTopMenuItem</method>
                    </catalog_addnew_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <models>
            <mlaction>
                <class>Malesh_Action_Model</class>
                <resourceModel>mlaction_resource</resourceModel>
            </mlaction>
            <mlaction_resource>
                <class>Malesh_Action_Model_Resource</class>
                <entities>
                    <table_action>
                        <table>ml_action</table>
                    </table_action>
                    <table_action_product>
                        <table>ml_action_product</table>
                    </table_action_product>
                </entities>
            </mlaction_resource>
        </models>
        <resources>
            <mlaction_setup>
                <setup>
                    <module>Malesh_Action</module>
                </setup>
            </mlaction_setup>
        </resources>
        <helpers>
            <mlaction>
                <class>Malesh_Action_Helper</class>
            </mlaction>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <review_status_action>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mlaction/cron::review_status_action</model>
                </run>
            </review_status_action>
        </jobs>
    </crontab>
</config>